﻿@model Gastos.Models.DTO.DespesaDTO

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Despesa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Despesa.Valor" class="control-label"></label>
                <input asp-for="Despesa.Valor" class="form-control" step="any" />
                <span asp-validation-for="Despesa.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Despesa.Categoria" class="control-label"></label>
                <select asp-for="Despesa.CategoriaId" asp-items="@(new SelectList(Model.Categorias,"Id", "Nome")  )" class="form-control"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Despesa.Pessoal" /> @Html.DisplayNameFor(model => model.Despesa.Pessoal)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
