﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Total de Receitas
                    </th>
                    <th>
                        Total de Despesas
                    </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>
                            <h6  style="color: green">@ViewBag.TotalReceitas</h6>
                        </td>
                        <td>
                            <h6 style="color: red">@ViewBag.TotalDespesas</h6>
                        </td>
                    </tr
            </tbody>
        </table>
    </div>
</div>
